In [2]:
import pandas as pd

In [3]:
pd.__file__

'/workspaces/data-engineering-zoomcamp-2026/pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [4]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}yellow_tripdata_2021-07.csv.gz'

In [5]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [6]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
5,1,2021-07-01 00:10:49,2021-07-01 00:18:42,1,1.6,1,N,114,90,1,7.5,3.0,0.5,1.50,0.0,0.3,12.80,2.5
6,1,2021-07-01 00:28:56,2021-07-01 00:36:11,1,1.8,1,N,90,144,1,7.5,3.0,0.5,2.00,0.0,0.3,13.30,2.5
7,1,2021-07-01 00:45:10,2021-07-01 00:52:46,1,2.0,1,N,114,48,1,8.5,3.0,0.5,2.45,0.0,0.3,14.75,2.5
8,1,2021-07-01 00:55:43,2021-07-01 01:10:56,1,5.7,1,N,48,152,2,18.5,3.0,0.5,0.00,0.0,0.3,22.30,2.5
9,1,2021-07-01 00:04:24,2021-07-01 00:13:23,1,1.8,1,N,234,148,1,8.5,3.0,0.5,2.45,0.0,0.3,14.75,2.5

In [7]:
df['tpep_pickup_datetime'].dtype

dtype('<M8[us]')

In [8]:
!uv add sqlalchemy psycopg2-binary

Resolved 119 packages in 0.75ms
Audited 9 packages in 0.19ms

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df,name = 'yellow_taxi_data',con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'replace')

0

In [13]:
len(df)

2821515

In [14]:
df_iter = pd.read_csv(url, dtype = dtype , parse_dates = parse_dates, iterator = True, chunksize = 100000)

In [15]:
!uv add --dev tqdm

Resolved 119 packages in 0.68ms
Audited 114 packages in 1ms

In [16]:
from tqdm.auto import tqdm

In [17]:
for df_chunk in tqdm(df_iter) : 
    df_chunk.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append' )

0it [00:00, ?it/s]